{
  "presets": ["next/babel"],
  "env": {
    "development": {
      "plugins": ["inline-react-svg"]
    },
    "production": {
      "plugins": [
        "transform-remove-console",
        "inline-react-svg"
        // ,"remove-unused-import"
      ]
    }
  }
}
